# TextMate tutorial: http://manual.macromates.com/en/language_grammars

# Regex to convert keys to unquoted: '(include|match|captures|begin|end|beginCaptures|endCaptures|name|patterns|0|1|2|3|4|5|6|7|8|9|comment|fileTypes|scopeName|repository|contentName|firstLineMatch|foldingStartMarker|foldingStopMarker)':

scopeName: 'source.ngspice' # <scope> should be a short, unique indicator for the language ("js", "php", "c", etc.)
name: 'ngspice' # The title that will show up in grammar selection and on your status bar.
fileTypes: [ # An array of file extensions.
  'cir'
  'net'
]

patterns: [
  { include: '#stripCommentWhiteSpace'}
]

repository:
  stripCommentWhiteSpace:
    patterns:[
      {
        match: '^\\s*\\*.*$'
        name: 'comment.line.ngspice'
      }
      {
        match: '^\\s*(.*)((?:\\$.*$)|(?://.*$))'
        captures:
          1: patterns:[{include:'#main'}]
          2: name: 'comment.line.end_of_line.ngspice'
      }
      {
        match: '^\\s*(.*)'
        captures:
          1: patterns:[{include:'#main'}]
      }
    ]
  main:
    patterns: [
      {include: '#directive'}
      {include: '#element'}
      {include: '#continuationLine'} #assume this is part of expression or parameters
    ]
