# TextMate tutorial: http://manual.macromates.com/en/language_grammars

# Regex to convert keys to unquoted: '(include|match|captures|begin|end|beginCaptures|endCaptures|name|patterns|0|1|2|3|4|5|6|7|8|9|comment|fileTypes|scopeName|repository|contentName|firstLineMatch|foldingStartMarker|foldingStopMarker)':

scopeName: 'source.ngspice' # <scope> should be a short, unique indicator for the language ("js", "php", "c", etc.)
name: 'ngspice' # The title that will show up in grammar selection and on your status bar.
fileTypes: [ # An array of file extensions.
  'cir'
  'net'
]
firstLineMatch: ''
foldingStartMarker: '^\\s*(?i:\\.control|\\.subckt|\\.if)\\b.*$'
foldingStopMarker: '^\\s*(?i:\\.endc|\\.ends|\\.endif)\\b.*$'
patterns: [
  {include:'#controlBlock'}
  {include:'#stripCommentWhiteSpace'}
]

repository:
  stripCommentWhiteSpace:
    match: '^\\s*(.*)'
    captures:
      1:patterns:[
          {
            match: '^\\*.*$'
            name: 'comment.line.ngspice'
          }
          {include:'#endOfLineComments'}
          {
            match: '^(.*)'
            captures:
              1: patterns:[{include:'#main'}]
          }
        ]
  endOfLineComments:
    match: '^(.*?)((?:\\$.*$)|(?://.*$))'
    captures:
      1: patterns:[{include:'#main'}]
      2: name: 'comment.end_of_line.ngspice'
  main:
    patterns: [
      {include: '#directive'}
      {include: '#element'}
      {include: '#continuationLine'} #assume this is part of expression or parameters
      {include: '#other'}
    ]
  directive:
    patterns:[
      {
        match: '^(?i:(\\.)(title)\\s(.*))'
        name: 'meta.title.ngspice'
        captures:
          1: name: 'entity.punctuation.dot.ngspice'
          2: name: 'keyword.ngspice'
          3: name: 'comment.line.end_of_line.ngspice'
      }
      {
        match: '^(?i:(\\.)(subckt)\\s+([a-z][a-z0-9_]*)\\s+(.*?)(\\s+\\S+\\s*=.*?$))'
        name: 'meta.subckt.ngspice'
        captures:
          1: name: 'entity.punctuation.dot.ngspice'
          2: name: 'keyword.ngspice'
          3: name: 'name.ngspice'
          4: patterns: [{ include: '#nodesAny' }]
          5: patterns: [{ include: '#other'}]
      }
      {
        match: '^(?i:(\\.)(subckt)\\s+([a-z][a-z0-9_]*)\\s+(.*))'
        name: 'meta.subckt.ngspice'
        captures:
          1: name: 'entity.punctuation.dot.ngspice'
          2: name: 'keyword.ngspice'
          3: name: 'name.ngspice'
          4: patterns: [{ include: '#nodesAny' }]
      }
      {
        match: '^(?i:(\\.)(global)\\s+(.*))'
        name: 'meta.global.ngspice'
        captures:
          1: name: 'entity.punctuation.dot.ngspice'
          2: name: 'keyword.ngspice'
          3: patterns: [{ include: '#nodesAny' }]
      }
      {
        match: '^(\\.)([^ ()]+)'
        name: 'meta.directive.ngspice'
        captures:
          1: name: 'entity.punctuation.dot.ngspice'
          2: name: 'keyword.ngspice'
      }
    ]
  controlBlock:
    begin: '^\\s*(?i:(\\.)(control))\\s*(.*)$'
    beginCaptures:
      1: name: 'entity.punctuation.dot.ngspice.ngspice'
      2: name: 'keyword.ngspice'
      3: patterns:[{include:'#endOfLineComments'}]
    end: '^\\s*(?i:(\\.)(endc))\\s*(.*)$'
    endCaptures:
      1: name: 'entity.punctuation.dot.ngspice.ngspice'
      2: name: 'keyword.ngspice'
      3: patterns:[{include:'#endOfLineComments'}]
    name: 'meta.block.control.ngspice'
    patterns:[{include: '#other'}]
  element:
    patterns: [
      {
        match: '^(?i:([qm][a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+)\\s+(?![a-z0-9_]+\\s*=)([a-z0-9_]+))'
        captures:
          1: name: 'element.ngspice'
          2: name: 'constant.node.ngspice'
          3: name: 'constant.node.ngspice'
          4: name: 'constant.node.ngspice'
          5: name: 'constant.node.ngspice'
          6: name: 'name.ngspice'
      }
      {
        match: '^(?i:([sgetoy][a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+))'
        captures:
          1: name: 'element.ngspice'
          2: name: 'constant.node.ngspice'
          3: name: 'constant.node.ngspice'
          4: name: 'constant.node.ngspice'
          5: name: 'constant.node.ngspice'
      }
      {
        match: '^(?i:([uqjzm][a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+))'
        captures:
          1: name: 'element.ngspice'
          2: name: 'constant.node.ngspice'
          3: name: 'constant.node.ngspice'
          4: name: 'constant.node.ngspice'
      }
      {
        match: '^(?i:([rlcvidkwfhbeg][a-z0-9_]+)\\s+([a-z0-9_]+)\\s+([a-z0-9_]+))'
        captures:
          1: name: 'element.ngspice'
          2: name: 'constant.node.ngspice'
          3: name: 'constant.node.ngspice'
      }
      {
        match: '^(?i:([xp][a-z0-9_]+)\\s+(.*?)\\s+(\\S+)\\s+(\\S+=.*$))'
        name: 'meta.subcktcall.ngspice'
        captures:
          1: name: 'element.ngspice'
          2: patterns: [{ include: '#nodesAny' }]
          3: name: 'element.ngspice'
          4: patterns: [{include: '#other'}]
      }
      {
        match: '^(?i:([xp][a-z0-9_]+)\\s+(.*)\\s+(\\S+))'
        name: 'meta.subcktcall.ngspice'
        captures:
          1: name: 'element.ngspice'
          2: patterns: [{ include: '#nodesAny' }]
          3: name: 'element.ngspice'
      }
    ]
  continuationLine:
    match: '^(\\+)'
    name: 'entity.punctuation.plus.ngspice'
  nodesAny:
    match: '([A-Za-z0-9_]+)'
    name: 'constant.node.ngspice'
  other:
    patterns: [
      {include: '#strings'}
      {include: '#seperator'}
      {include: '#voltage'}
      {include: '#function'}
      {include: '#special_variables'}
      {include: '#ngspice_name'}
      {include: '#constant'}
   ]
  seperator:
    match: '([ ,=]+)'
    captures:
      1: name : 'punctuation.seperator.ngspice'
  space:
    match: '(\\s+)'
    name: 'meta.space.ngspice'
    captures:
      1: name: 'punctuation.space.ngspice'
  special_variables:
    match: '(?i:((?:time)|(?:temper)|(?:hertz))(?!\\S))'
    name: 'variable.language.ngspice'
  ngspice_name:
    match: '[A-Za-z][A-Za-z0-9_]*'
    name: 'name.ngspice'
  function:
    match: '([A-Za-z][A-Za-z0-9_]*)([(])'
    captures:
      1: name: 'support.function.ngspice'
      2: name: 'punctuation.leftpar.ngspice'
  constant:
    match: '(?i:(?<![a-z_])((?:[0-9]+(?:[.][0-9]*)?|[.][0-9]+)(?:[e][-+]?[0-9]+)?)(k|meg|mil|g|t|m|u|μ|n|p|f){0,1}([a-z0-9_]*))'
    name: 'meta.numeric.ngspice'
    captures:
      1: name: 'constant.numeric.ngspice'
      2: name: 'constant.numeric.ngspice'
      3: name: ''
  strings:
    patterns: [
      {
        match: '(\')([^\']*)(\')'
        captures:
          1: name:'punctuation.definition.string.begin.ngspice'
          2: name:'string.quoted.single.ngspice'
          3: name:'punctuation.definition.string.end.ngspice'
      }
      {
        match: '(\")([^\"]*)(\")'
        captures:
          1: name:'punctuation.definition.string.begin.ngspice'
          2: name:'string.quoted.double.ngspice'
          3: name:'punctuation.definition.string.end.ngspice'
      }
    ]
  voltage:
    patterns: [
      {
        match: '(v|V)[(]([^(),]+)[,]([^(),]*)[)]'
        captures:
          1: name: 'support.function.ngspice'
          2: name: 'constant.node.ngspice'
          3: name: 'constant.node.ngspice'
      }
      {
        match: '(v|V)[(]([^(),]+)[)]'
        captures:
          1: name: 'support.function.ngspice'
          2: name: 'constant.node.ngspice'
      }
    ]
